<app-card title="Sing Up">
  <div class=" ">
    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
      <div class="container flex flex-col gap-2">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="name">Name</label>
          <input type="text"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            formControlName="name" required type="text" autocomplete="off" id="name">
        </div>
        <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          type="text" formControlName="email" required type="email" autocomplete="off" id="email">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Password</label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          type="password" formControlName="password" id="password">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Confirm Password</label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          type="password" title="Confirm Password" formControlName="confirmPassword" id="confirmPassword">
        <button type="submit">Sign Up</button>
        <div>
          <span>Go to Login --> </span><a routerLink="/login">Log In ✍️</a>
        </div>
      </div>
    </form>
  </div>
</app-card>