<form [formGroup]="signUpForm" (ngSubmit)="signUp()">
  <div class="flex-container">
    <h1>Sign Up </h1>
    <label for="name">Name</label>
    <input type="text" formControlName="name" required type="text" autocomplete="off" id="name">
    <label for="email">Email</label>
    <input type="text" formControlName="email" required type="email" autocomplete="off" id="email">
    <label for="password">Password</label>
    <input type="password" formControlName="password" id="password">
    <button type="submit">Sign Up</button>
    <div>
      <span>Go to Login</span><a routerLink="/login">Log In</a>
    </div>
  </div>
</form>